<mat-toolbar>
  <mat-toolbar-row>
    <span>Kalah Bol Game</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <mat-card-content style="display: flex; flex-direction: column;">
    <span>Current turn: {{state?.currentPlayer.name}}</span>
    <span>Game Victory State: {{state?.currentVictory}} </span>
  </mat-card-content>
</mat-card>
<div class="board">
  <div class="player-two store"><p>{{board?.pits[13]?.pieces || 0}}</p></div>
  <div class="rows">
    <div class="row player-two">
      <div class="pit" (click)="move(7)"><p>{{board?.pits[7]?.pieces || 0}}</p></div>
      <div class="pit" (click)="move(8)"><p>{{board?.pits[8]?.pieces || 0}}</p></div>
      <div class="pit" (click)="move(9)"><p>{{board?.pits[9]?.pieces || 0}}</p></div>
      <div class="pit" (click)="move(10)"><p>{{board?.pits[10]?.pieces || 0}}</p></div>
      <div class="pit" (click)="move(11)"><p>{{board?.pits[11]?.pieces || 0}}</p></div>
      <div class="pit" (click)="move(12)"><p>{{board?.pits[12]?.pieces || 0}}</p></div>
    </div>

    <div class="row">
      <div class="pit" (click)="move(0)"><p>{{board?.pits[0]?.pieces|| 0}}</p></div>
      <div class="pit" (click)="move(1)"><p>{{board?.pits[1]?.pieces || 0}}</p></div>
      <div class="pit" (click)="move(2)"><p>{{board?.pits[2]?.pieces || 0}}</p></div>
      <div class="pit" (click)="move(3)"><p>{{board?.pits[3]?.pieces || 0}}</p></div>
      <div class="pit" (click)="move(4)"><p>{{board?.pits[4]?.pieces || 0}}</p></div>
      <div class="pit" (click)="move(5)"><p>{{board?.pits[5]?.pieces || 0}}</p></div>
    </div>
  </div>
  <div class="player-one store"><p>{{board?.pits[6]?.pieces|| 0}}</p></div>
</div>
